<%- include('header'); -%>
    <div class="box" id="heading">
        <h1>
            ToDo App
        </h1>
    </div>
    <div class="box">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quas perferendis commodi vel, aspernatur
            officiis?
            Aliquid quibusdam illo laborum, doloremque voluptate ab aperiam fuga vel cum a, mollitia placeat cupiditate.
        </p>
    </div>
    <%- include('footer'); -%>