<!-- New list without scriptlets and full logic on server -->

<!-- This is main file from 4. commits -->

<!-- Valid HTML for ejs file -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="icons/tasks.png" />
</head>

<body>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <!-- ul to div and li to p -->
  <div class="box">

    <!-- <li>Order Snacks</li>
        <li>Pickup Snacks</li>
        <li>Eat Snacks</li> -->
    <!-- Add list items -->

    <% for(var i=0; i<newListItems.length; i++){ %>
      <!-- <li><%= newListItems[i] %></li> -->
      <div class="item">
        <!-- checkbox -->
        <!-- <input type="checkbox"> -->
        <input class="label__checkbox" type="checkbox" />
        <p>
          <%= newListItems[i] %>
        </p>
      </div>
      <% } %>
        <form class="item" action="/" method="post">
          <!-- autocomplete = off - no autocomplete recommendations -->
          <input type="text" name="newItem" placeholder="Enter New ToDo Item" autocomplete="off">
          <button type="submit" name="list" value=<%=listTitle %>>+</button>
        </form>
  </div>

</body>

</html>